mixin card(cardImg, cardTitle, cardDownloads, cardReviews)

  .swiper-slide.projects-swiper-slide
    .card__img
      img(src=cardImg, alt=cardTitle)
    h5.card__title= cardTitle
    .card__footer
      .card__text.card__downloads
        p= cardDownloads
        p скачиваний
      .card__line
      .card__text.card__reviews
        p= cardReviews
        p отзывов
